# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Secrets
.env
.env.*
api key.txt
apikey.txt
apikey.json

# OS files
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/
